[Desktop Entry]
Icon=system-lock-screen
Exec=xlockless
Type=Application
Categories=GTK;System;Utility;

Name=ScreenLock
Name[ar]=قفل الشاشة
Name[be]=Блакаванне экрана
Name[ca]=Bloqueig de pantalla
Name[de]=ScreenLock
Name[el]=Κλείδωμα οθόνης
Name[es]=bloquear pantalla
Name[eu]=Blokeatu pantaila
Name[fr]=Verrouillage d'écran
Name[gl]=ScreenLock
Name[hu]=Képernyőzár
Name[it]=Blocca schemro
Name[ko]=스크린 잠금
Name[lt]=Ekrano rakinimas
Name[sr]=Закључавање екрана
Comment=Lock your screen
Comment[ar]=إقفل شاشتك
Comment[be]=Заблакаваць экран
Comment[ca]=Bloquegeu la pantalla
Comment[de]=Bildschirm sperren
Comment[el]=Κλειδώστε την οθόνη σας
Comment[es]=Bloquea su pantalla
Comment[eu]=Blokeatu zure pantaila
Comment[fr]=Verrouiller votre écran
Comment[gl]=Bloquee a pantalla
Comment[it]=Blocca lo schermo
Comment[ko]=스크린 잠그기
Comment[lt]=Užrakinti ekraną
Comment[sr]=Закључајте екран
Name[zh_CN]=锁屏
Name[zh_TW]=锁屏
